# macOS
.DS_Store

# Xcode user data
*.xcuserstate
xcuserdata/

# Build products
DerivedData/
build/
.build/

# Swift Package Manager
.swiftpm/
Package.resolved

# Dependency managers
Pods/
Carthage/Build/

# Fastlane artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
